
@{
    ViewBag.Title = "CreateTransaction";
}

<h2>CreateTransaction</h2>
@if (ViewData.ContainsKey("TransactionId"))
{
    <h2>Success! Transaction ID: @ViewData["TransactionId"]</h2>
}
else
{
    <h2>Error: @ViewData["Message"]</h2>
}
