@{
    ViewBag.Title = "Add Funds";
}
 Add Funds

<h1>Braintree Credit Card Transaction Form</h1>
<div>
    Test CC Info:<br />
    ccnumber: 4111111111111111<br />
    cvv: 123<br />
    expiration: 12/2017<br />
    Postal Code: 90210<br /><br /><br />

    <form action="@Url.Action("CreateTransaction")" method="POST" id="braintree-payment-form">
        <p>
            <label>Cardholder Name</label>
            <input type="text" size="40" autocomplete="off" data-encrypted-name="cardholdername" />
        </p>
        <p>
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
        </p>
        <p>
            <label>CVV</label>
            <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
        </p>
        <p>
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" data-encrypted-name="month" /> / <input type="text" size="4" data-encrypted-name="year" />
        </p>
        <p>
            <label>Postal Code</label>
            <input type="text" size="7" data-encrypted-name="postalcode" /> 
        </p>
        <input type="submit" id="submit" />
    </form>
</div>
<script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script type="text/javascript">
    var braintree = Braintree.create("MIIBCgKCAQEAzw+UgsMt8YscOIb7Dk8vX2pSeZdRjnpP+slV+Y0J8kHYvFW+j+La2p8XIP2LCuay6fGMvQJKn8y49mAijOPj7qeV62KLnWkWJbxcFh+jiDp2gg9EPkwAN2eAunuCbdKX3/ES9UnzHx0kz2OX/TvauqJSjGgrK+7QdhopW5TAxQOfORrO5L6UYwxkWPBLW3Stf+oElU1HnPsPMMZeq00vl3P84acAuFBLU8XSxxQdYWHV/KGR8h9IaAGVsgo1l6nTIG+Nk8wjRKO3CCpRzr+NygEiS0E4d2Z+9ewOD0u77SOSRK4G1Rx7tDvO7ZmSTWq8wn2eMR4kX0sqRrcCY8TTsQIDAQAB");
        braintree.onSubmitEncryptForm('braintree-payment-form');
</script>